@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::after, *::before{
  box-sizing: border-box;
}

:root {
  --background-color: 200, 100%, 85%;
  --foreground-color: 200, 100%, 10%; 
  --foreground-secondary-color: 200, 100%, 20%
  --even-row-color: 200, 60%, 70%
  --odd-row-color: 200, 60%, 75%
}

body {
  margin: 0;
  background-color: hsl(var(--background-color));
  color: hsl(var(--foreground-color));
}
